@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}
body{
  direction: rtl;
  font-family: 'Vazirmatn', sans-serif;
  background-color: #f4bf01;
  
}
.area{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  background-color: #262626;
  width: 1240px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 60vh;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.right-circ{
  position: absolute;
  right: -150px;
  top: -150px;
  width: 400px;
  height: 400px;
  background: linear-gradient(to top, #24bfc3 , #3ebea7);
  border-radius: 50%;
  z-index: 1;
}

.left-circ{
  position: absolute;
  left: -150px;
  bottom: -150px;
  width: 400px;
  height: 400px;
  background: linear-gradient(to top, #ff8c04 , #f4bf01);
  border-radius: 50%;
  z-index: 1;
}

.box{
  background-color: rgba(255, 255, 255, 0.150);
  width: 450px;
  z-index: 2;
  border-radius: 20px;
  padding: 15px;
  text-align: center;

  .img-area{
    width: 70px;
    height: 70px;
    margin: 0 auto;
  }
  
  .img-area img{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 50%;
  }
}

.title{
  padding: 10px 0;
  font-weight: bolder;
  font-size: 20px;
}

.para{
  font-size: 15px;
  font-weight: 300;
}

.btns-box{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  margin: 1.5rem 0;
}

.btns-box .btn {
  border: none;
  outline: none;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  background-color: #d2d2d2;
}

